<div class="container" style="width: 900px; margin-top: 20px;">
  <h2 class="text-center m-5">Order queue</h2>
  <table class="table table-striped table-bordered" style="table-layout: fixed" *ngFor="let table of tables">
    <thead>
    <tr>
      <th>Table {{table.number}}</th>
      <th>Name</th>
      <th>Date and time</th>
      <th>Actions</th>
      <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of getItemsRelatedToTable(table.number)">
      <td></td>
      <td>{{item.name}}</td>
      <td>{{item.timestamp | date:'short'}}</td>
      <td>
        <button class="btn btn-primary" (click)="updateItemStatus(item._id, 'Preparing')"
                style="margin-right: 10px">Start</button>
        <button class="btn btn-success" (click)="updateItemStatus(item._id, 'Ready')">Ready</button>
      </td>
      <td>{{item.status}}</td>
    </tr>
    </tbody>
  </table>
</div>
