<div class="container" style="width: 900px; margin-top: 20px;">
  <h2 class="text-center m-5">Users</h2>
  <table class="table table-striped table-bordered" style="table-layout: fixed">
    <thead>
    <tr>
      <th>Table</th>
      <th>Seats</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let table of tables">
      <td>{{table.number}}</td>
      <td>{{table.seats}}</td>
      <td *ngIf="table.isFree">Free</td>
      <td *ngIf="!table.isFree">Occupied</td>
      <td *ngIf="table.isFree">
        <button class="btn btn-danger" (click)="deleteTable(table.number, table.isFree)">Delete</button>
      </td>
      <td *ngIf="!table.isFree">free the table to delete it</td>
    </tr>
    </tbody>
  </table>
  <div style="margin-top: 50px; margin-bottom: 30px">
    <div style="margin: 10px">
      <button class="btn btn-success" *ngIf="!showOptions" (click)="showOptions=true">Create Table</button>
      <button class="btn btn-success" *ngIf="showOptions" (click)="showOptions=false">Hide Options</button>
    </div>
    <div *ngIf="showOptions" style="margin-top: 30px; margin-bottom: 30px; width: 250px;">
      <div class="form-floating mb-3">
        <input class="form-control" type="text" #number id="number" placeholder="number" required>
        <label for="number">Number (it must be unique!)</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="text" #seats id="seats" placeholder="number" required>
        <label for="seats">Seats</label>
      </div>
      <button class="btn btn-primary" (click)="createTable(number.value, seats.value)">Add Table</button>
    </div>
  </div>
</div>

